.about-container {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 40px;
    top: 60px;
    background-color: #000;

}

.logo-large-container {
    position: absolute;
    top: 60px;
    left: 40px;
}