.modal-background {
    margin-top: 200px;
    position: absolute;
    z-index: 1000;
    height: 10000px;
    width: 100vw;

    background-color: rgba(255, 255, 255, 1);
}

.close-logo {
    position: absolute;
    right: 10px;
}